<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jx.dao.SysHourMenuDao">
	
	<select id="findCourseIdByProIds" resultType="int">
		select course_id
		from sys_hour_menu
		where pro_id in
		<foreach collection="array"
                  open="("
                  close=")"
                  separator=","
                  item="item">
               #{item}
         </foreach>
		
	</select>
</mapper>
