<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jx.dao.SysProDao">
	<select id="findObjectByProId" resultType="com.jx.pojo.SysPro">
		select * from sys_pro
		where id=#{id}
	</select>
</mapper>
